@layout('layouts.master')

@section('content')
  <div class="content-header">
    <form action="" method="get">
      <input type="text" placeholder="Search">
      <button disabled="disabled">Produrar</button>
    </form>
  </div>
@endsection
